/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --header-title-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-word: #ff8dcb;
  --decorative-color: #353430;
  --text-title-color: #353430;
  --text-subtitle-color: #000028;
  --main-bg-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-color: #353430;
  --focus-color: #353430;
}

.theme_light .decorative__element::before {
  display: none;
}

.theme_light .decorative__element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-title-color: #ffc2e6;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-word: #ff8dcb;
    --decorative-color: #353430;
    --text-title-color: #353430;
    --text-subtitle-color: #000028;
    --main-bg-color: #ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --hover-color: rgba(50, 49, 45, 0.4);
    --button-color: #353430;
    --focus-color: #353430;
  }

  .decorative__element::before {
    display: none;
  }
  
  .decorative__element::after {
    display: none;
  }
  
}
