.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  padding: 20px;
  position: relative;
  font-family: var(--font-family);
  margin-bottom: 40px;
}

.decor::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 22px;
  top: 19px;
  border-top: 1px solid var(--decorative-color);
  border-right: 1px solid var(--decorative-color);
}

.decor::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 22px;
  bottom: 19px;
  border-left: 1px solid var(--decorative-color);
  border-bottom: 1px solid var(--decorative-color);
}

.decorative__element::before {
  content: "REC";
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  top: 20px;
  right: 48px;
  color: var(--decorative-color);
}

.decorative__element::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 31px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorative-color);
  box-shadow: 0 0 4px 2px #ff0070;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--button-color);
  font-family: var(--font-family);
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--focus-color);
}

.header__title {
  grid-row-start: 2;
  position: relative;
  inset-inline-end: 20px;
}

.header__title-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  white-space: nowrap;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  width: 491px;
  background-color: var(--accent-color);
  grid-row-start: 3;
  justify-self: end;
  align-self: center;
}

.header__subtitle-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-subtitle-color);
}

.page {
  display: block;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  display: grid;
  column-gap: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

.section__why {
  grid-template-columns: 315px 1fr;
  margin-bottom: 20px;
}

.section__what {
  grid-template-columns: 1fr 1fr 1fr;
}

.section__how {
  grid-template-columns: 315px 1fr;
}

.section__picture {
  display: block;
}

.accent-word {
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-title-color);
  margin-bottom: 20px;
}
.section__subtitle-box {
  background-color: var(--accent-color);
}

.section__subtitle {
  color: var(--text-subtitle-color);
  margin-bottom: 10px;
}

.section__answer {
  color: var(--text-subtitle-color);
}

.section__text {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 18px;
}

.answers__section .section__text-wrapper:nth-of-type(2) {
  margin-top: -25px;
}

.section__why .section__text-wrapper {
  margin-bottom: 20px;
}

.section__why .section__text-wrapper:last-of-type {
  grid-column-start: 2;
}

.section__what .section__text-wrapper:first-of-type {
  grid-column-start: 1;
}

.section__what .section__text-wrapper:nth-of-type(2) {
  grid-column-start: 2;
}

.section__what .section__text-wrapper:nth-of-type(3) {
  grid-column-start: 3;
}

.section__advice {
  font-weight: 400;
  color: var(--text-subtitle-color);
  margin-bottom: 10px;
}

.answers__section {
  display: grid;
  row-gap: 20px;
}

.image__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: span 2;
}

.ice-cream {
  grid-row: span 2;
}

.street {
  grid-row-start: 3;
  grid-column: -1 / -3;
}

.tape {
  grid-row: 2 / 4;
}

.footer {
  min-height: 668px;
  height: 100vh;
  padding: 20px;
  display: flex;
  position: relative;
}

.footer__title {
  margin: auto;
}

.footer__title-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA QUESTIONS */

@media (375px <= width <= 768px) {
  .header {
    min-height: 1024px;
    padding: 10px;
  }

  .header__theme-menu {
    justify-content: end;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .header__title {
    inset-inline-start: -10px;
  }

  .header__title-text {
    white-space: normal;
  }

  .header__subtitle {
    max-width: 363px;
    margin-top: -10px;
    margin-right: 10px;
  }

  .header span::before {
    top: 20px;
    right: 48px;
  }

  .header span::after {
    top: 28px;
    right: 30px;
  }

  .section__why {
    grid-template-columns: 236px 1fr;
    column-gap: 0;
  }

  .section__why .section__text-wrapper:first-of-type {
    margin-bottom: 20px;
    margin-left: 23px;
  }

  .section__why .section__text-wrapper:nth-of-type(2) {
    margin-left: 23px;
  }

  .section__what {
    grid-template-columns: min-content 1fr;
    margin-bottom: 39px;
  }

  .section__what .section__text-wrapper:first-of-type {
    grid-column: 1 / 3;
  }

  .section__what .section__text-wrapper:nth-of-type(2) {
    grid-column: 1 / 3;
  }

  .section__what .section__text-wrapper:nth-of-type(3) {
    grid-column: 1 / 3;
  }

  .section__what .section__text-wrapper:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .section__how {
    grid-template-columns: 236px 1fr;
  }

  .section__picture {
    margin-bottom: 36px;
  }
}

@media (max-width: 480px) {
  .header {
    min-height: 668px;
    margin-bottom: 30px;
  }

  .decor::before {
    top: 10px;
    right: 10px;
  }

  .header__theme-menu-list {
    align-items: end;
    justify-content: end;
    margin-right: 7px;
  }

  .header__title {
    inset-inline-end: 0;
    margin-left: 10px;
  }

  .header__title-text {
    font-size: 116px;
  }

  .header__subtitle {
    width: 355px;
    margin-top: -1px;
  }

  .header span::before {
    top: 10px;
    right: 38px;
  }

  .header span::after {
    top: 18px;
    right: 19px;
  }

  .section {
    padding: 10px;
  }

  .section__why {
    display: block;
    margin-bottom: 7px;
  }

  .section__why .section__text-wrapper:first-of-type {
    margin-left: 0;
  }

  .section__why .section__text-wrapper:nth-of-type(2) {
    margin-left: 0;
  }

  .section__what {
    display: block;
    margin-bottom: 30px;
  }

  .section__what .section__text-wrapper:first-of-type {
    margin-bottom: 20px;
  }

  .section__what .section__text-wrapper:nth-of-type(2) {
    margin-bottom: 20px;
  }

  .section__how {
    display: block;
    margin-bottom: 29px;
  }

  .section__picture {
    margin-bottom: 31px;
  }

  .image__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .sunset {
    order: 1;
  }

  .ice-cream {
    order: 2;
  }

  .books {
    order: 4;
  }

  .tape {
    order: 3;
  }

  .street {
    order: 5;
  }

  .footer {
    padding: 10px;
  }

  .footer__title-text {
    font-size: 116px;
  }
}
